{% extends 'Base.html' %}
{% block title %}
About
{% endblock %}
{% block body %}
<div style="height: 579px;
    width: 650px;
    margin: auto;
">
<p>There was a time when we use to witness crimes like murder, robbery etc but with advent of digitalization clear the way for online crimes called as cybercrimes.
</p>
<p>In today’s world where people are technically driven, smartphones have become part of our lives. We see that anything and everything is becoming digitalized like net banking. It is also observed that making online friends have become a trend. Indeed, internet connects people and companies from all over the world.
</p>
<p>But we cannot deny the fact that this extreme exposure to internet have made people addictive towards it and sadly this paved ways for cybercrimes. Cybercrimes is a criminal activity that involves the use of internet. So, in nutshell it is becoming hazardous day by day.
</p>
<p>Prior to cybercrimes took place just on an individual or some small groups. But presently it has spread so much that each company has been fallen in trap of these crimes.
</p>
<p>We cannot deny the fact that the traditional crimes have not eliminated but on the contrary, we have cybercrimes too rooting deep inside the system. This is making things furthermore complex and dealing with so many crimes and keeping a proper track on crimes has become a challenging task for the police.
</p>
<p>Now the question arises that how to tackle this issue?
<br>So here we made a project on crime mapping and analysis. This could solve more than 50% of the problem of the official. This project is completely for the benefit of the govt agency. In this project we can map the areas which discuss about maximum crime taking place in that area which would help us which would help the officials to find out the popular crime in that region and this would accomplish half of the work of the police.
</p>
</div>
{% endblock %}