*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }
 nav{
     height: 80px;
     width: 100%;
     background: #05135D;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0px 50px 0px 100px;
 }
 nav .logo{
     font-size: 33px;
     color: #fff;
     font-weight: 600;
 }
 nav ul{
     display: flex;
     list-style: none;
 }
 nav ul li {
     margin: 0 5px;
 }
 nav ul li a{
     color: #fff;
     text-decoration: none;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     padding: 8px 10px;
     border-radius: 10px;
     transition: all 0.4s ease;
 }
 nav ul li a:hover{
     color: #05135D;;
     background: #fff;
 }
 nav .menu-btn{
     color: #fff;
     font-size: 22px;
     cursor: pointer;
     display: none;
 }
 #click{
     display: none;
 }
 @media (max-width: 940px) {
     /* nav .menu-btn i{
         display: block;
     } */
     #click:checked ~ .menu-btn i:before{
         content: "\f00d";
     }
     nav ul{
        z-index: 10;
         position: fixed;
         top: 80px;
         left: -100%;
         background: #05135D;
         height: 100vh;
         width: 100%;
         display: block;
         text-align: center;
         transition: all 0.8s ease;
     }
     nav ul li{
         margin: 40px 0;
     }
     nav ul li a{
         font-size: 20px;
         display: block;
     }
     #click:checked ~ ul{
         left:0;
     }
     nav ul li a:hover{
         color: #000;
         background: none;
     }
     nav .menu-btn{
         display: block;
     }
 }

.footer{
    background-color: #05135D;
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.nav-items{
    list-style-type: none;
    font-size: 20px;
    text-decoration: underline;
    color: #fff;
 }

